{% extends 'base.html.twig' %}

{% block title %}{{ 'sortie.label.modify_title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="row">
            <div class="col-md-6">
                <!-- Nom -->
                <div class="form-group row">
                    {{ form_label(form.nom, null, {'label_attr': {'class': 'col-md-4 col-form-label'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.nom, {'attr': {
                            'class': 'form-control'
                        } }) }}
                    </div>
                </div>
                <!-- Date Heure de la sortie -->
                <div class="form-group row">
                    {{ form_label(form.dateHeureDebut, null, {'label_attr': {'class': 'col-md-4 col-form-label'}}) }}
                    <div class="col-md-5">
                        {{ form_widget(form.dateHeureDebut, {'attr': {
                            'class': 'form-control'
                        } }) }}
                    </div>
                </div>
                <!-- Date limite d'inscription -->
                <div class="form-group row">
                    {{ form_label(form.dateLimiteInscription, null, {'label_attr': {'class': 'col-md-4 col-form-label'}}) }}
                    <div class="col-md-5">
                        {{ form_widget(form.dateLimiteInscription, {'attr': {
                            'class': 'form-control'
                        } }) }}
                    </div>
                </div>
                <!-- Nombre de places -->
                <div class="form-group row">
                    {{ form_label(form.nbInscriptionsMax, null, {'label_attr': {'class': 'col-md-4 col-form-label'}}) }}
                    <div class="col-md-3">
                        {{ form_widget(form.nbInscriptionsMax, {'attr': {
                            'class': 'form-control'
                        } }) }}
                    </div>
                </div>
                <!-- Durée -->
                <div class="form-group row">
                    {{ form_label(form.duree, null, {'label_attr': {'class': 'col-md-4 col-form-label'}}) }}
                    <div class="col-md-3">
                        {{ form_widget(form.duree, {'attr': {
                            'class': 'form-control'
                        } }) }}
                    </div>
                    <p class="col-form-label">{{ 'sortie.label.minutes'|trans }}</p>
                </div>
                <!-- Description et infos -->
                <div class="form-group row">
                    {{ form_label(form.infosSortie, null, {'label_attr': {'class': 'col-md-4 col-form-label'}}) }}
                    <div class="col-md-8">
                        {{ form_widget(form.infosSortie, {'attr': {
                            'class': 'form-control',
                            'rows': 4
                        } }) }}
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-5">
                <!-- Campus -->
                <div class="form-group row">
                    {{ form_label(form.campus, null, {'label_attr': {'class': 'col-md-3 col-form-label'}}) }}
                    <div class="col-md-6">
                        {{ form_widget(form.campus, {'attr': {
                            'class': 'form-control'
                        } }) }}
                    </div>
                </div>
                <!-- Lieu -->
                <div class="form-group row">
                    {{ form_label(form.lieu, null, {'label_attr': {'class': 'col-md-3 col-form-label'}}) }}
                    <div class="col-md-6">
                        {{ form_widget(form.lieu, {'attr': {
                            'class': 'form-control'
                        } }) }}
                    </div>
                </div>

                 <div class="card bg-light card-body pt-4 px-5">
                    <!-- Rue du Lieu -->
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">{{ 'sortie.label.street'|trans }}</label>
                        <label id="lieu_rue" class="col-md-8 col-form-label">{{ form.vars.value.lieu.rue }}</label>
                    </div>
                    <!-- Code postal -->
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">{{ 'sortie.label.zipcode'|trans }}</label>
                        <label id="lieu_code_postal" class="col-md-8 col-form-label">{{ form.vars.value.lieu.ville.codePostal }}</label>
                    </div>
                    <!-- Ville -->
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">{{ 'sortie.label.city'|trans }}</label>
                        <label id="lieu_ville" class="col-md-8 col-form-label">{{ form.vars.value.lieu.ville.nom }}</label>
                    </div>
                    <!-- Latitude -->
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">{{ 'sortie.label.latitude'|trans }}</label>
                        <label id="lieu_latitude" class="col-md-8 col-form-label">{{ form.vars.value.lieu.latitude }}</label>
                    </div>
                    <!-- Latitude -->
                    <div class="form-group row">
                        <label class="col-md-4 col-form-label">{{ 'sortie.label.longitude'|trans }}</label>
                        <label id="lieu_longitude" class="col-md-8 col-form-label">{{ form.vars.value.lieu.longitude }}</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="row my-5">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary btn-block">{{ 'sortie.label.save'|trans }}</button>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                {% if( form.vars.value.etat.libelle == 'Créée' ) %}
                <a class="btn btn-secondary btn-block" role="button"
                   href="{{ path('sortie_publish', {'id': form.vars.value.id }) }}">
                    {{ 'sortie.label.publish'|trans }}</a>
                {% endif %}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                {% if( form.vars.value.etat.libelle == 'Ouverte' ) %}
                <a class="btn btn-danger btn-block" role="button"
                   href="{{ path('sortie_cancel', {'id': form.vars.value.id }) }}">
                    {{ 'sortie.label.cancel'|trans }}</a>
                {% endif %}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <a class="btn btn-secondary btn-block" role="button"
                   href="{{ path('default_home') }}">
                    {{ 'sortie.label.return'|trans }}</a>
            </div>
            <div class="col-md-1"></div>
        </div>

        {{ form_end(form) }}

    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">

        document.getElementById("sortie_lieu").addEventListener("change", function () {
            chargeDetailLieu();
        });

        function chargeDetailLieu() {
            url = 'http://localhost/SortirCom/public/api/lieu/' + document.getElementById("sortie_lieu").value;
            fetch( url, {'method': 'GET'} )
            .then( response => response.json() )
            .then( response => {
                document.getElementById("lieu_rue").innerHTML = response[0].rue;
                document.getElementById("lieu_code_postal").innerHTML = response[0].ville.codePostal;
                document.getElementById("lieu_ville").innerHTML = response[0].ville.nom;
                document.getElementById("lieu_latitude").innerHTML = response[0].latitude;
                document.getElementById("lieu_longitude").innerHTML = response[0].longitude;
            } )
        }
    </script>
{% endblock %}